html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.wrapper {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  height: 60px;
  margin-bottom: 40px;
}

.header__title {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 36px;
  line-height: 28px;
  font-weight: 700;
  color: #00c3b3;
}

.textfield {
  display: block;
  width: 980px;
  height: 150px;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 15px;
  font-size: 32px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
  resize: none;
}
.textfield::-webkit-scrollbar {
  width: 0;
}
.textfield:focus {
  outline: none;
}

.footer {
  height: 100px;
  margin: 0 auto 0 0;
  text-align: center;
  color: #00c3b3;
  font-size: 24px;
}

.footer_subtitle {
  margin-bottom: 20px;
}

.keyboard {
  width: 1020px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard__container {
  width: 1000px;
  height: 350px;
  gap: 10px;
  padding: 20px 10px;
  margin: 50px 0;
  border-radius: 15px;
  background-color: #00c3b3;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 10px;
}

.key__btn {
  margin: 0 4px;
  padding: 0 2px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2px;
  font-size: 15px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.key__btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(3px);
  background-color: rgb(110, 110, 110);
  transition: all 0.1s ease-in-out;
}
.key__btn:active, .key__btn.active {
  box-sizing: border-box;
  background-color: rgb(110, 110, 110);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.key__btn.key_backspace {
  width: 145px;
}
.key__btn.key_capslock {
  width: 107px;
  line-height: 20px;
}
.key__btn.key_tab, .key__btn.key_leftalt, .key__btn.key_rightalt, .key__btn.key_leftctrl, .key__btn.key_rightctrl {
  width: 81px;
}
.key__btn.key_leftshift {
  width: 135px;
}
.key__btn.key_rightshift {
  width: 127px;
}
.key__btn.key_enter {
  width: 156px;
}
.key__btn.key_space {
  width: 300px;
}
.key__btn.key_lang {
  width: 65px;
}/*# sourceMappingURL=styles.css.map */